.App {
  text-align: center;
}

.App-logo {
  animation: alternate linear;
  height: 80px;
}

.App-header {
  background-color: #FFF059;
  height: 150px;
  padding: 20px;
  font-weight: bold;
  color: #273481;
}
strong{
  color: #39B54F;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
